@media screen{
    body{
        background-color: red;
    }
    @media only screen and (min-width:250px){
        body{
            background-color: purple;
        }
    
    }
}
@media only screen and (max-width:450px){
    body{background-color: yellow;

    }
}
